input,
select,
button {
    padding: 8px;
    margin: 5px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

ul {
    background: #fffafc;
    /* background: #000; */
    padding: 10px;
    border-radius: 12px;
    min-height: 100px;
    list-style: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

li {
    padding: 6px;
    margin: 5px 0;
    background: #ffe4ec;
    border-radius: 8px;
}

button {
    cursor: pointer;
}

*{
    /* background: red; */
    background: blanchedalmond;
}